<mat-toolbar color="primary" class="flex-row justify-content-between">
  <div class="d-flex justify-content-between align-items-center">
    <span>Aviato</span>
    <ng-container *ngIf="(user | async).role != 'GUEST'">
      <button mat-button (click)="this.toPage('routes')">
        Маршруты
      </button>
      <button mat-button (click)="this.toPage('flights')">
        Рейсы
      </button>
      <button mat-button (click)="this.toPage('booking')">
        Мои бронирования
      </button>
    </ng-container>
  </div>

  <div class="flex-row d-flex">
    <div class="pr-2 text-center m-0">
      <span class="d-inline-block m-0">{{(user | async).username}}</span>
    </div>
    <ng-container *ngIf="(user | async).role != 'GUEST'">
      <button (click)="logout()" mat-icon-button >
        <mat-icon>logout</mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="(user | async).role == 'GUEST'">
      <button (click)="toPage('login')" mat-icon-button >
        <mat-icon>login</mat-icon>
      </button>
    </ng-container>
  </div>
  </mat-toolbar>
